
<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->

  <!-- Main Site -->
  <main id="site-main">
    <div class="container">
        <div class="box-nav d-flex justify-between">
           <div class="filter">
               <a href="/"><i class="fas fa-angle-double-left"></i> Todos Usuários</a>
           </div>
        </div>
        <div class="form-title text-center">
            <h2 class="text-dark">Atualizar Usuário</h2>
            <span class="text-light">Preencha os campos abaixo para Atualizar essa conta</span>
        </div>

        <!-- add user form -->
         <!-- form handling -->
 <form method="PUT" id="update_user">
    <div class="new_user">
        <div class="form-group">
            <label for="name" class="text-light">Nome</label>
            <input type="hidden" name="id" value="<%= users._id %>">
            <input type="text" name="name" value="<%= users.name %>" placeholder="John doe">
        </div>
        <div class="form-group">
            <label for="Email" class="text-light">Email</label>
            <input type="text" name="email" value="<%= users.email%>" placeholder="johndoe@gmail.com">
        </div>
        <div class="form-group">
          <label for="profissao" class="text-medium">Profissão </label>
          <input
            type="text"
            name="profissao"
            id="profissao"
            value="<%=users.profissao%>"
            placeholder="Desenvolvedor I"
          />
        </div>
        <div class="form-group">
            <label for="gender" class="text-light">Género</label>
            <div class="radio inline">
                <input type="radio" id="radio-2" name="gender" value="Homem" <%= users.gender == 'Homem' ? 'checked' : '' %>>
                <label for="radio-2" class="radio-label">Homem</label>
            </div>
            <div class="radio inline">
                <input type="radio" id="radio-3" name="gender" value="Mulher"  <%= users.gender == 'Mulher' ? 'checked' : '' %> >
                <label for="radio-3" class="radio-label">Mulher</label>
            </div>
        </div>

        <div class="form-group">
            <label for="gender" class="text-light">Status</label>
            <div class="radio inline">
                <input type="radio" id="radio-4" name="status" value="Ativo" <%= users.status == 'Ativo' ? 'checked' : '' %> >
                <label for="radio-4" class="radio-label">Ativo</label>
            </div>
            <div class="radio inline">
                <input type="radio" id="radio-5" name="status" value="Inativo" <%= users.status == 'Inativo' ? 'checked' : '' %> >
                <label for="radio-5" class="radio-label">Inativo</label>
            </div>
        </div>

        <div class="form-group">
            <button type="submit" class="btn text-dark update">Salvar</button>
        </div>

    </div>
</form>
       
    </div>
</main>
<!-- /Main Site -->

<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->